@import '../../styles/variables';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');

.wrap {
  background: $white;
  box-shadow: 10px 10px 30px $black;
  position: relative;
  max-width: $max-content-width;
  color: $white;
  height: auto;
}

.content {
  padding: $padding-wrapper;
  height: auto;
}

.home {
  background: $white;
  color: $purple;
  animation: home forwards 1s;

  .link:hover {
    border: 2px solid $purple;
  }

}

.prehome {
  background: $white;
}

.dribbble {
  background: $pink;
  animation: dribbble forwards 1s;

  .active {
    color: $pink;
  }
}

.predribbble {
  background: $pink;
}

.behance {
  background: $blue;
  animation: behance forwards 1s;

  .active {
    color: $blue;
  }
}

.prebehance {
  background: $blue;
}

.linkedin {
  background: $dark-blue;
  animation: linkedin forwards 1s;

  .active {
    color: $dark-blue;
  }
}

.prelinkedin{
  background: $dark-blue;
}

.twitter {
  background: $light-blue;
  animation: twitter forwards 1s;

  .active {
    color: $light-blue;
  }
}

.pretwitter{
  background: $light-blue;
}

.instagram {
  background: $light-purple;
  animation: instagram forwards 1s;

  .active {
    color: $light-purple;
  }
}

.preinstagram{
  background: $light-purple;
}

.vimeo {
  background: $black;
  animation: vimeo forwards 1s;

  .active {
    color: $black;
  }
}

.previmeo {
  background: $black;
}


.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 1.8rem;
  width: 3.5rem;
  height: 3.5rem;
  padding: 8px;
  text-align: center;
  display: inline-block;
  color: inherit;
}

.li {
  display: inline-block;
  margin-right: 2.2rem;
}

.li:nth-child(1) {
  display: none;
}

.goback {
  color: $white;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.active {
  background: $white;
  border-radius: 50%;
}


@keyframes home {
  from {clip-path: circle(5% at 5% 20%)}
  to {clip-path: circle(135% at 5% 20%)}
}


@keyframes dribbble {
   from {clip-path: circle(5% at 12.5% 77%)}
   to {clip-path: circle(125% at 12.5% 77%)}
 }

@keyframes behance {
  from {clip-path: circle(5% at 22% 77%)}
  to {clip-path: circle(125% at 22% 77%)}
}

@keyframes linkedin {
  from {clip-path: circle(5% at 31% 77%)}
  to {clip-path: circle(125% at 31% 77%)}
}

@keyframes twitter {
  from {clip-path: circle(5% at 40% 77%)}
  to {clip-path: circle(125% at 40% 77%)}
}

@keyframes instagram {
   from {clip-path: circle(5% at 49% 77%)}
   to {clip-path: circle(125% at 49% 77%)}
 }

@keyframes vimeo {
  from {clip-path: circle(5% at 58% 77%)}
  to {clip-path: circle(125% at 58% 77%)}
}


@media (max-width: 992px) {

  .ul {
    text-align: center;
  }
  .content {
    padding: $padding-wrapper-tablet;
  }
}


