/*
* Colors
* ======================================================================== */
$white: #ffffff;
$black: #232021;
$pink: #dd4d87;
$blue: #0070f0;
$dark-blue: #3c5f7d;
$light-blue: #00b9ef;
$purple: #585d71;
$light-purple: #7D3B91;
$light-gray: #d7dae1;
/*
 * Typography
 * ======================================================================== */

$font-family-base: 'Open Sans', 'HelveticaNeue-Light', sans-serif;

/*
    * Layout
    * ======================================================================== */

$max-content-width: 1000px;
$padding-wrapper: 1rem 0 4rem 7.5rem;
$padding-wrapper-tablet: 2rem;
$border-radius: 0.5rem;
$padding-wrapper-xs: 0.5rem 2rem;



$max-content-width: 1000px;