:global {
  @import 'base';
  @import '~normalize.css/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
    background-color: $light-gray;
    font-family: $font-family-base;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .root {
    max-width: $max-content-width;
    margin: 0 auto;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

}
