.img {
  animation-duration: 0.5s;
  animation-name: slideright;
  display: inline-block;
  margin: 0 auto;
  width: 80%;
}

@keyframes slideright {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@media (min-width: 992px) {
  .img {
    width: 40%;
  }
}
